<div class="row">
    <div class="col-lg">
        <p>
            For this week I developed a fully playable <a href="https://m8-chess.web.app">chess app</a> using only
            JavaScript, HTML, and CSS!<br>
            Notice that the app does not work on certain browsers (like Safari) but does work on Chrome.<br>
            The app sends data to my Firebase database from week 10 and will be used as an interface for my final
            project.
            <br><br>
            I followed <a href="https://www.youtube.com/watch?v=wYRRVRrK0R8">this tutorial</a> to create the basic game
            logic but had to fix some bugs it had. <br>
            I also changed the UI to match popular chess apps and added all the database communication. <br>
            Finally, I used firebase hosting to allow convenient access to the app from any device connected to the
            internet.
        </p>
    </div>
    <div class="col-lg">
        <img class="img-fluid mt-0" src="{{url_for('static', filename='/assets/final/chess_app.jpg')}}" alt="">
    </div>
</div>