<div class="row">
    <div class="col-lg-8">
        <p>
            Machine week was a lot of fun! Together with my lab mates, we built a cool drawing bot that process images
            and draw a filtered version of them. <br> <br>

            I was curious to learn more about the mechanical aspects of building a machine and specifically designing a
            gantry system. <br>
            We divided the work into different tasks and assigned a few people to each of them. <br>
            I was helping with designing and cutting the parts and with assembling the gantry system. <br>
            It was a great way to see firsthand the challenges of designing a mechanical machine and the constraints
            that should be taken into consideration. <br><br>

            A major challenge we had while building the gantry was to make the wheels' mounts fit well to the aluminum
            extrusion. We solved it by adding fractures to the parts, to create more pressure between the wheels and the
            rail. <br>

            The integration between all the different groups was great, and I was proud of the overall result.
        </p>
        <img class="img-fluid" src="{{url_for('static', filename='/assets/weeks/week12/kirby.gif')}}" alt="">
    </div>
    <div class="col-lg">
        <img class="img-fluid mt-lg-0" src="{{url_for('static', filename='/assets/weeks/week12/fusionbearings.jpg')}}"
            alt="">
        <img class="img-fluid" src="{{url_for('static', filename='/assets/weeks/week12/protobearings.jpg')}}" alt="">
        <img class="img-fluid" src="{{url_for('static', filename='/assets/weeks/week12/lasercutparts.jpg')}}" alt="">
    </div>
</div>