<div class="row">
    <div class="col-lg-7">
        <p>
            Although I was eager to learn how to weld, I wanted to use wildcard week for my final project. I wanted to
            use the CNC lathe we have at the EECS shop to make the chess pieces for my final project. <br><br>

            This is a great opportunity to thank Anthony for removing the dust from the old machine and setting it up
            for this job. Although he likes to complain about this machine, I had a great time using it and felt very
            comfortable working with it at the end. <br><br>

            I designed a chess set with a modern look to match the 'innovative' feel of the project. <br>
            The most challenging piece was the knight since it is not symmetric like the other pieces. <br>
            I designed the knight with a revolution of its head and then cut and filed it manually. I also used a Dremel
            to decorate the rook. <br><br>

            I used black wood stain to color the black pieces of the set and sanded all the pieces for a smooth finish.
            <br><br>

            This was one of the most fun weeks of the class for me! <br>
        </p>
        <img class="img-fluid" src="{{url_for('static', filename='/assets/final/all_pieces.jpeg')}}" alt="">
    </div>
    <div class="col-lg">
        <video class="img-fluid mt-lg-0" muted controls>
            <source src="{{url_for('static', filename='/assets/final/bishop_lathe.mp4')}}" type="video/mp4">
        </video>
        <video class="img-fluid" muted controls>
            <source src="{{url_for('static', filename='/assets/final/pawn_lathe.mp4')}}" type="video/mp4">
        </video>
        <img class="img-fluid" src="{{url_for('static', filename='/assets/final/stain.jpeg')}}" alt="">
        <img class="img-fluid" src="{{url_for('static', filename='/assets/final/white_pieces.jpeg')}}" alt="">
    </div>
</div>